@page "{customerId:int?}"
@model BlobStorage.Pages.Customers.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.Customer.Name</h2>

<form method="post">
    <input type="hidden" asp-for="Customer.ID"/>
    <div class="form-group">
        <label asp-for="Customer.Name"></label>
        <input asp-for="Customer.Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Location"></label>
        <input asp-for="Customer.Location" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Customer.BussineType"></label>
        <select class="form-control" asp-for="Customer.BussineType"
                                                asp-items="Model.BusinessType">

        </select>


    </div>
     <button type="submit" class="btn btn-primary">Save</button> 
    
</form>