@page
@model BlobStorage.Pages.Customers.ListModel
@{
}


<h1>Customers</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type ="search" class="form-control" 
                    asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-defualt">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach(var customer in Model.Customers)
    {
        <tr>
            <td>@customer.Name</td>
            <td>@customer.Location</td>
            <td>@customer.BussineType</td>
            <td>
                <a class="btn btn-lg"
                    asp-page="./Detail" 
                    asp-route-customerId="@customer.ID"
                >
                    <i class="fa-solid fa-circle-info"></i>
                </a>
            </td>
        </tr>
    }
</table>
